header {
  position: fixed;
  height: calc(1.3em + 1.6vw);
  background: var(--header-color);
  z-index: 99;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  font-family: Montserrat Medium, Arial, sans-serif;
  font-size: calc(0.9em + 1.5vw);
  box-shadow: 0px 1px 8px -2px var(--text-color);
  -moz-box-shadow: 0px 1px 8px -2px var(--text-color);
  -webkit-box-shadow: 0px 1px 8px -2px var(--text-color);
}

.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 0.6em;
}

.user-card a {
  font-size: 0.8em;
}

.user-card:last-child {
  padding-right: 2em;
}